.select {
    position: relative;
    border: 1px solid lightgray;
    border-radius: 5px;

    &.select-show {
        .select-value .select-icon {
            transform: rotateZ(180deg);
        }
    }
}

.select-value {
    height: 2rem;
    width: 100%;
    border: 1px solid ligh1fr 4frtgray;
    border-radius: 5px;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    align-items: center;
    grid-column-gap: 0.5rem;
    color: gray;

    .select-icon {
        position: absolute;
        right: 0.5rem;
        top: 0.6rem;
        transition: transform 300ms ease-in-out;
        transform-origin: center;
    }
}

.select-menu {
    position: absolute;
    bottom: 2rem;
    background: white;
    border: 1px solid lightgray;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;

    li {
        display: grid;
        align-items: center;
        grid-template-columns: 1.5rem 4fr;
        grid-column-gap: 0.5rem;
        transition: background-color 300ms ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: #eaeaea;
        }
    }
}