.counter {
    display: grid;
    align-items: center;
    grid-template-columns: 1rem 1.5rem;
    justify-content: center;
    cursor: pointer;

    &:hover {
        svg {
            color: gray;
        }
    }

    svg {
        color: lightgray;
        transition: color 300ms ease-in-out;
    }

    span {
        color: gray;
        text-align: center;
        font-size: 0.9rem;
    }
}
