.post-form {
    display: grid;
    grid-row-gap: 1rem;

    label {
        font-weight: 600;
        font-size: 0.9rem;
        color: #444444
    }
}

.post-form-kudoses {
    display: grid;
    grid-row-gap: 0.5rem;
}

.post-form-user {
    > div {
        font-size: 0.9rem;
    }

    [class*="IndicatorsContainer"] {
        display: none;
    }

    input {
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 5px;
        outline: 0;
        padding: 0 0.5rem;
        color: #353535;
        height: 2rem;
    }
}

.post-form-publish {
    font-weight: 600;
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    color: white;
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    font-size: 0.9rem;
    width: 6rem;

    &:hover {
        background-color: slateblue;
        border-color: slateblue;
    }
}

.post-form-group {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 1rem;
    align-items: flex-end;
}

.post-form-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input {
    width: 150px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }

  .container {
    display: flex;
  }
