@import 'src/scss/variables.scss';

.group-icon {
    color: gray;
    background-color: $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 0.2rem;
    width: 1.5rem;
}
