.kudos {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-column-gap: 0.5rem;
    border: 1px solid lightgrey;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out;

    &.kudos-selected {
        border-color: gray;
        background-color: #ececec;
    }
}

.kudos-image {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.kudos-content {
    text-align: center;
    color: gray;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.kudos-user {
    font-weight: 600;
    font-size: 1.2rem;
    color:#444444;
}

.kudos-form {
    cursor: pointer;

    &:hover {
        border-color: gray;
        background-color: #ececec;
    }

    .kudos-user {
        font-size: 0.9rem;
    }

    .kudos-image {
        width: 3rem;
        height: 3rem;
    }
}
