.post__author {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    grid-column-gap: 0.5rem;
}

.post__author__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post__author__name {
    font-weight: 600;
}

.post__author__date {
    color: gray;
    font-size: 0.9rem;
}
