@import 'src/scss/variables.scss';

.post {
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    width: 25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr auto 3rem 3rem;
    grid-row-gap: 0.5rem;
}

.author,
.note,
.kudoses,
.statistics,
.commnet-input {
    padding: 0.5rem 0.7rem;
}

.note-input {
    height: 10rem;
    border: 1px solid $border-color;
    border-radius: 5px;

    textarea {
        pointer-events: none;
        color: $label-color;
        border: 0;
        padding: 0.5rem;
    }
}

.note-input__highlighter {
    z-index: 1;
    pointer-events: none;
    padding: 0.5rem;
}

.note-suggestions {
    color: $sugestion-color;
}

.note-hashtags {
    color: $hashtag-color;
}

.post-footer {
    border-top: 1px solid $border-color;
}
