.header {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    border-bottom: 1px solid lightgray;
    height: 3rem;
    box-shadow: 0 2px 3px lightgray;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.header-add-post {
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    color: white;
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    font-size: 0.9rem;
    font-weight: 500;

    &:hover {
        background-color: slateblue;
        border-color: slateblue;
    }
}